<div class="ui four fluid top large steps">
    <div class="step" [ngClass]="{'active': step === 1, 'disabled': step !== 1, 'completed' : step > 1}">
        <i class="linkify icon"></i>
        <div class="content">
            <div class="title">Thème</div>
            <div class="description">Choisissez la thèmatique de votre pétition</div>
        </div>
    </div>
    <div class="step" [ngClass]="{'active': step === 2, 'disabled': step !== 2, 'completed' : step > 2}">
        <i class="heading icon"></i>
        <div class="content">
            <div class="title">Titre</div>
            <div class="description">Insérer le titre de votre pétition</div>
        </div>
    </div>
    <div class="step" [ngClass]="{'active': step === 3, 'disabled': step !== 3, 'completed' : step > 3}">
        <i class="hand holding heart icon"></i>
        <div class="content">
            <div class="title">Petition</div>
            <div class="description">Racontez votre histoire</div>
        </div>
    </div>
    <div class="step" [ngClass]="{'active': step === 4, 'disabled': step !== 4, 'completed' : step > 4}">
        <i class="photo video icon"></i>
        <div class="content">
            <div class="title">Media</div>
            <div class="description">Ajoutez une photo</div>
        </div>
    </div>
</div>


<form enctype="multipart/form-data" [formGroup]="createPetitionForm" (ngSubmit)="createPetition()" id="container">
<!--    Tags de la pétition-->
    <div class="ui raised large segment" [style.display]="step === 1 ? 'block' : 'none'">
        <h1>Quelle est la thématique qui correspond le mieux à votre pétition ?</h1>
        <p>Le thème est important. Choisissez le thème représentant le mieux votre pétition.</p>
        <div class="choices">
            <div *ngIf="tags.length == 0" class="ui big loader"></div>
            <div class="ui invisible tiny checkbox" *ngFor="let tag of tags; let i = index">
                <input type="checkbox" id="ex{{tag.name}}" (change)="onCheckChange($event)" [value]="tag.name">
                <label for="ex{{tag.name}}" class="ui blue message ">{{tag.name}}</label>
            </div>
        </div>
        <br> A chaque fois que vous validez une étape, vos modifications seront enregistrées.
    </div>

<!--    Titre et objectif de la petition-->
    <div class="ui raised large segment" [style.display]="step === 2 ? 'block' : 'none'">
        <h1>Quel est le titre de votre pétition ?</h1>
        <p>C'est la première chose que les gens verront à propos votre pétition.</p>
        <div class="ui input focus">
            <input required minlength="4" type="text" maxlength="90" formControlName="title" placeholder="Augmenter le SMIC vers 2000€...">
        </div>
        <div *ngIf="title?.invalid" class="ui pointing red large label">Titre trop court / invalide</div>
        <br>
        <h1>Quel est l'objectif de votre pétition ?</h1>
        <p> Un objectif élevé peut décourager les gens de signer votre pétition.</p>
        <mat-slider min="5" max="1000" step="20" showTickMarks>
            <input matSliderThumb formControlName="signatureGoal">
        </mat-slider>
        <h1 style="text-align: center">{{signatureGoal?.value}}</h1>

    </div>

<!--    Contenu de la petition-->
    <div class="ui raised large segment" [style.display]="step === 3 ? 'block' : 'none'">
        <h1>Quel est le problème que vous voulez résoudre ?</h1>
        <p>Les gens sont plus susceptibles de soutenir votre pétition si vous expliquez clairement pourquoi cela compte pour vous.</p>
        <div class="ui form">
            <div class="field">
                <textarea rows="10" formControlName="description" placeholder="Expliquez pourquoi faut t-il exterminer les dauphins noirs..."></textarea>
            </div>
            <div *ngIf="description?.invalid" class="ui pointing red basic label">Description trop courte / invalide</div>
        </div>
    </div>

<!--    Ajout d'une photo-->
    <div class="ui raised large segment" [style.display]="step === 4 ? 'block' : 'none'">
        <h1>Comment représenter votre pétition ?</h1>
        <p>Votre photo doit transmettre l’émotion de votre pétition. Elle doit respecter les dimensions (500 * 300)</p>
        <input type="file" accept="image/*"  id="invisibleupload2" (change)="onImageSelected($event)" class="ui invisible file input">
        <label for="invisibleupload2" class="ui placeholder segment">
            <div class="ui icon header"><i class="upload icon"></i> Clickez ici pour ajouter une photo </div>
        </label>
        <button type="button" class="ui button large red" (click)="uploadImage()">Upload</button>
    </div>

    <div class="controls">
        <button type="button" *ngIf="step > 1" class="ui button large black" (click)="prevStep()">Etape précèdente</button>
        <button type="button" *ngIf="(step !== maxStep)" [disabled]="noTagSelected()" class="ui button large blue" (click)="nextStep()">Etape suivante</button>
        <button type="submit" class="ui button large green" [disabled]="(step !== maxStep)">Publier</button>
    </div>
</form>



