<!-- Rest of your app's template -->
<div class="ui top menu" style="margin: 0">
    <!-- Logo -->
    <div class="left menu">
        <a routerLink="/" class="item">
            <img class="ui image tiny" src="/assets/images/Logo.png" alt="logo">
        </a>
    </div>

    <!-- Menu -->
    <a class="item" routerLink="create" routerLinkActive="active">Lancer une petition</a>
    <a class="item" routerLink="mypetitions" routerLinkActive="active">Mes petitions</a>
    <a class="item" routerLink="petitions" routerLinkActive="active">Liste des petitions</a>

    <!-- login -->
    <div class="right menu">
        <div class="ui top item left simple dropdown">
            <i class="user icon"></i>
            <div class="menu">
                <a routerLink="/login" class="item">Se connecter</a>
                <div class="ui divider"></div>
                <a routerLink="/settings" class="item">Parametres</a>
                <a routerLink="/logout" class="item">Se deconnecter</a>
                <a routerLink="/help" class="item">Aide</a>
            </div>
        </div>
    </div>
    
</div>

<router-outlet></router-outlet>
