<!-- Rest of your app's template -->
<div class="ui top menu" style="margin: 0">
    <!-- Logo -->
    <div class="left menu">
        <a routerLink="/" class="item">
            <img class="ui image tiny" ngSrc="/assets/images/Logo.png" alt="logo" height="216" width="250">
        </a>
    </div>

    <!-- Menu -->
    <a class="item" routerLink="create" routerLinkActive="active">Lancer une petition</a>
    <a class="item" routerLink="mypetitions" routerLinkActive="active">Mes petitions</a>
    <a class="item" routerLink="petitions" routerLinkActive="active">Liste des petitions</a>

    <!-- login -->
    <div class="right menu">
        <div class="ui top item left simple dropdown" (click)="printUser()">
            <i *ngIf="!loggedIn && !user" class="user icon"></i>
            <img *ngIf="loggedIn && user" width="80" height="80" class="ui avatar image" ngSrc="{{user.photoUrl}}" alt="user photo">
            <div class="menu">
                <asl-google-signin-button  shape="rectangular" type="standard" *ngIf="!loggedIn && !user" type='icon' class='item' size='large'></asl-google-signin-button>
                <div *ngIf="loggedIn && user" class="item">
					<div class="ui top attached label large">{{user.name}}</div>
                </div>
                <div class="ui divider"></div>
                <a routerLink="/settings" class="item">
                    <i class="settings icon"></i>Parametres</a>
                <a *ngIf="loggedIn && user" (click)="logout()" class="item">
                    <i class="sign out icon"></i>Se deconnecter</a>
                <a routerLink="/help" class="item">
                    <i class="help icon"></i>Aide</a>
            </div>
        </div>
    </div>

</div>

<router-outlet></router-outlet>

<br>
<!-- Footer-->
<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable divided grid">
            <div class="four wide column">
                <h3 class="ui header">LIENS UTILES</h3>
                <div class="ui link list big">
                    <a class="item">FAQ</a>
                    <a class="item">Contact</a>
                    <a class="item">Mentions légales</a>
                    <a class="item">Accessibilité</a>
                    <a class="item">Cookies</a>
                </div>
            </div>
            <div class="four wide column">
                <h3 class="ui header">NOTRE COMMUNAUTÉ</h3>
                <div class="ui link list">
                    <a class="item"><i class="facebook big blue icon"></i></a>
                    <a class="item"><i class="instagram big black icon"></i></a>
                    <a class="item"><i class="twitter big teal icon"></i></a>
                    <a class="item"><i class="youtube big red icon"></i></a>
                </div>
            </div>
            <div class="eight wide column">
                <img ngSrc="/assets/images/Logo.png" class="ui centered small image" height="216" width="250" alt="">
                <p>
                    <i>“La démocratie est le gouvernement du peuple, par le peuple, pour le peuple.”</i>
                    <br>
                    <strong>Abraham Lincoln</strong>
                </p>
            </div>
        </div>
        <div class="ui divider"></div>
        <span>Site réalisé par <strong>Yassine DERGAOUI</strong> gràce à <strong>Angular 17</strong> et <strong>Fomantic
                UI</strong></span>
    </div>
</div>
