<div class="ui container" id="banner">
    <div class="overlay">
        <h1>Nous permettons au plus grand nombre de citoyens d'être entendus dans leur combat, jusqu'à la
            <span>victoire</span>, pour plus de démocratie et de solidarité.
        </h1>
        <br>
        <h3> Deja 92 {{count}} signatures des citoyens engagés</h3>
        <br>
        <a routerLink="/create" class="ui inverted big button">Lancez votre pétition</a>
    </div>
</div>
<br>

<div class="ui grid centered">
    <div class="twelve wide column">
        <h3 class="subtitle">- VICTOIRES -</h3>
        <h1 class="title">Pétitions réussies</h1>

        <div class="ui three column grid">
            <div class="column" *ngFor="let pet of victoires.slice(0, 3)">
                <div class="ui card" [style.height]="'450px'">
                    <div class="image">
                        <img [style.height]="'180px'" src='{{pet.image}}'>
                    </div>
                    <div class="content">
                        <a routerLink="petition/{{pet.id}}" class="header">{{pet.title}}</a>
                        <div class="meta">
                            <span class="date"><i class="user icon"></i>{{pet.author}}</span>
                        </div>
                        <div class="description">
                            {{pet.description | slice:0:140}} ...
                        </div>
                    </div>
                    <div class="extra content">
                        <span>{{pet.signatureCount}}</span> signatures
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <button class="ui big button">Voir toutes les victoires</button>
        </div>
    </div>
</div>
<br>

<div class="ui divider"></div>
<br>

<div class="ui grid centered">
   <div class="twelve wide column">
       <h3 class="subtitle">- PETITIONS -</h3>
       <h1 class="title">Récemment lancées</h1>
       <div class="ui three column grid">
           <div class="column" *ngFor="let pet of petitions.slice(0,3)">
               <div class="ui card" [style.height]="'450px'">
                   <div class="image">
                       <img [style.height]="'180px'" src='{{pet.image}}'>
                   </div>
                   <div class="content">
                       <a routerLink="petition/{{pet.id}}" class="header">{{pet.title}}</a>
                       <div class="meta">
                           <span class="date"><i class="user icon"></i>{{pet.author}}</span>
                       </div>
                       <div class="description">
                        {{pet.description | slice:0:140}} ...
                       </div>
                   </div>
                   <div class="extra content">
                       <span>{{pet.signatureCount}}</span> signatures
                   </div>
                   <a routerLink="/petition/{{pet.id}}" class="ui blue button">Je signe</a>
               </div>
           </div>
       </div>
       <br>
       <div>
           <a routerLink="/petitions" class="ui big button">Parcourir les petitions</a>
       </div>
   </div>
</div>
