<div class="ui container" id="banner">
    <div class="overlay">
        <h1>Nous permettons au plus grand nombre de citoyens d'être entendus dans leur combat, jusqu'à la
            <span>victoire</span>, pour plus de démocratie et de solidarité.
        </h1>
        <br>
        <h3> Deja 92 {{count}} signatures des citoyens engagés</h3>
        <br>
        <button class="ui inverted big button">
            Lancez votre pétition
        </button>
    </div>
</div>
<br>

<div class="ui grid centered">
    <div class="twelve wide column">
        <h3 class="subtitle">- VICTOIRES -</h3>
        <h1 class="title">Pétitions réussies</h1>

        <div class="ui three column grid">
            <div class="column" *ngFor="let pet of items">
                <div class="ui card">
                    <div class="image">
                        <img src='{{pet.image}}'>
                    </div>
                    <div class="content">
                        <a class="header">{{pet.title}}</a>
                        <div class="meta">
                            <span class="date"><i class="user icon"></i>{{pet.author.name}}</span>
                        </div>
                        <div class="description">
                            {{pet.description | slice:0:100}} ...
                        </div>
                    </div>
                    <div class="extra content">
                        <span>{{pet.signatureCount}}</span> signatures
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <button class="ui big button">Voir toutes les victoires</button>
        </div>
    </div>
</div>
<br>

<div class="ui divider"></div>
<br>

<div class="ui grid centered">
   <div class="twelve wide column">
       <h3 class="subtitle">- PETITIONS -</h3>
       <h1 class="title">Récemment lancées</h1>
       <div class="ui three column grid">
           <div class="column" *ngFor="let pet of items">
               <div class="ui card">
                   <div class="image">
                       <img src='{{pet.image}}'>
                   </div>
                   <div class="content">
                       <a class="header">{{pet.title}}</a>
                       <div class="meta">
                           <span class="date"><i class="user icon"></i>{{pet.author.name}}</span>
                       </div>
                       <div class="description">
                        {{pet.description | slice:0:100}} ...
                       </div>
                   </div>
                   <div class="extra content">
                       <span>{{pet.signatureCount}}</span> signatures
                   </div>
                   <button class="ui blue button">Je signe</button>
               </div>
           </div>
       </div>
       <br>
       <div>
           <button class="ui big button">Parcourir les petitions</button>
       </div>
   </div>
</div>
